.language-container{
  width:100%;
  min-height: auto;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
}
.language-item{
  width: 270px;
  height: 320px;
  border: 1px solid #ebe7df;
  padding: 5px;
  margin: 5px;
}

img{
  margin-left: 28px;
}
